In [4]:
from sklearn import metrics, linear_model
from sklearn.model_selection import KFold, train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso, RidgeCV, LassoCV
from statsmodels.graphics.gofplots import qqplot
from sklearn import datasets
from scipy import stats
from scipy.stats import shapiro
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
ols = LinearRegression()

plt.style.use('ggplot')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [5]:
nat_2016 = pd.read_csv('nat2016.csv')

In [111]:
col_mapping_dict = {c[0]:c[1] for c in enumerate(nat_2016)}
col_mapping_dict

{0: 'Unnamed: 0',
 1: 'birth_year',
 2: 'birth_month',
 3: 'birth_time',
 4: 'birth_day_of_wk',
 5: 'birth_place',
 6: 'mothers_age_imputed',
 7: 'mothers_age',
 8: 'mothers_nativity',
 9: 'mothers_residence_status',
 10: 'mothers_race',
 11: 'mothers_race_imputed',
 12: 'mothers_hispanic_origin',
 13: 'mothers_hispanic_origin2',
 14: 'paternity_acknow',
 15: 'mothers_marital_status',
 16: 'mothers_maristat_imputed',
 17: 'mothers_education',
 18: 'fathers_age',
 19: 'fathers_race',
 20: 'fathers_hispanic_origin',
 21: 'fathers_hispanic_origin2',
 22: 'fathers_education',
 23: 'prior_living_births',
 24: 'prior_dead_births',
 25: 'prior_terminations',
 26: 'mo_since_last_live_birth',
 27: 'mo_since_last_other_birth',
 28: 'mo_prenatal_care_began',
 29: 'n_prenatal_visits',
 30: 'wic',
 31: 'cigs_tri1',
 32: 'cigs_tri2',
 33: 'cigs_tri3',
 34: 'mothers_height',
 35: 'mothers_bmi',
 36: 'pre_preg_lbs',
 37: 'delivery_lbs',
 38: 'pre_preg_diab',
 39: 'gest_diab',
 40: 'pre_preg_hypten',
 41: 'gest_hypten',
 42: 'hypten_ecl',
 43: 'prev_preterm_birth',
 44: 'infertility_treatment',
 45: 'fertil_enhance',
 46: 'asst_repro_tech',
 47: 'n_prev_cesar',
 48: 'no_risk_reported',
 49: 'gonorrhea',
 50: 'syphilis',
 51: 'chlamydia',
 52: 'hepB',
 53: 'hepC',
 54: 'no_infection_reported',
 55: 'success_ext_cep',
 56: 'fail_ext_cep',
 57: 'induced_labor',
 58: 'aug_labor',
 59: 'steriods',
 60: 'antibiotics',
 61: 'chorioamnionitis',
 62: 'anesthesia',
 63: 'fetal_present_at_birth',
 64: 'final_delivery_method',
 65: 'trial_of_labor_attempt',
 66: 'maternal_transfusion',
 67: 'perineal_laceration',
 68: 'rupt_uterus',
 69: 'unplanned_hyster',
 70: 'admit_to_IC',
 71: 'attendant_at_birth',
 72: 'mother_transferred',
 73: 'delivery_payment_source',
 74: 'APGAR_score_5min',
 75: 'APGAR_score_10min',
 76: 'plurality',
 77: 'pluarlity_imputed',
 78: 'sex_of_infant',
 79: 'sex_of_infant_imputed',
 80: 'last_norm_menses_mo',
 81: 'last_norm_menses_yr',
 82: 'combined_gestation_imputed',
 83: 'obst_est_of_gestation_used',
 84: 'combined_gestation_wk',
 85: 'obst_est_edit_wk',
 86: 'birth_weight_gm',
 87: 'assist_vent_immed',
 88: 'assist_vent_after6',
 89: 'admit_NICU',
 90: 'surfactant',
 91: 'antibiotics_for_newborn',
 92: 'seizures',
 93: 'anencephaly',
 94: 'meningo_spina_bif',
 95: 'cyn_cong_heart_disease',
 96: 'cong_diaph_hernia',
 97: 'omphalocele',
 98: 'gastroschisis',
 99: 'limb_reduc_defect',
 100: 'cleft_lip_or_palate',
 101: 'cleft_palate_only',
 102: 'down_syndr',
 103: 'suspect_chromo_disorder',
 104: 'hypospadias',
 105: 'no_cong_anamolies_checked',
 106: 'infant_transferred',
 107: 'infant_living_at_report',
 108: 'infant_breastfed_at_discharge'}

# EDA

In [9]:
# APGAR Score by Mother's Age
nat_2016.groupby(nat_2016.APGAR_score_10min)[['mothers_age']].median()

                   mothers_age
APGAR_score_10min
0                         28.0
1                         29.0
2                         30.0
3                         28.5
4                         29.0
5                         28.0
6                         28.0
7                         29.0
8                         29.0
9                         28.5
10                        29.0
88                        29.0
99                        30.0

In [75]:
# Higher the eduation better the APGAR Score
nat_2016.groupby(nat_2016.mothers_education)[['APGAR_score_10min']].mean()

                   APGAR_score_10min
mothers_education
1                          87.291668
2                          87.082088
3                          87.100036
4                          87.158277
5                          87.289042
6                          87.415308
7                          87.436825
8                          87.379128
9                          87.175628

In [76]:
# Education level 9 (unknown) is higher than most of the 
nat_2016.groupby(nat_2016.mothers_education)[['APGAR_score_5min']].mean()

                   APGAR_score_5min
mothers_education
1                          9.210168
2                          9.204148
3                          9.225831
4                          9.183674
5                          9.195208
6                          9.242300
7                          9.257865
8                          9.196796
9                          9.823385

In [77]:
# Living at report
nat_2016[nat_2016['infant_living_at_report'] == 'Y'].groupby(nat_2016.mothers_race).count()[['Unnamed: 0']]

              Unnamed: 0
mothers_race
1                 724231
2                 118733
3                  11061
4                  97605
5                   3692
6                   8300
7                    737
8                    803
9                    184
10                  5765
11                   168
12                    41
13                  7721
14                   581
15                   960
16                   857
17                    67
18                    15
19                   329
20                    33
21                    64
22                   224
23                    54
24                    13
25                   408
26                    21
27                     1
28                     3
29                     5
30                    12
31                     3

In [78]:
# Not living at report
nat_2016[nat_2016['infant_living_at_report'] == 'N'].groupby(nat_2016.mothers_race).count()[['Unnamed: 0']]

              Unnamed: 0
mothers_race
1                   1436
2                    509
3                     30
4                    180
5                      9
6                     22
7                      1
8                      2
9                      2
10                     6
13                     7
15                     1
22                     1

In [79]:
# Living at report rate 
nat_2016[nat_2016['infant_living_at_report'] == 'N'].groupby(nat_2016.mothers_race).sum()[['Unnamed: 0']] / nat_2016[nat_2016['infant_living_at_report'] == 'Y'].groupby(nat_2016.mothers_race).sum()[['Unnamed: 0']]

              Unnamed: 0
mothers_race
1               0.002069
2               0.004423
3               0.003063
4               0.001896
5               0.001330
6               0.002589
7               0.002282
8               0.001283
9               0.005886
10              0.001074
11                   NaN
12                   NaN
13              0.001105
14                   NaN
15              0.000607
16                   NaN
17                   NaN
18                   NaN
19                   NaN
20                   NaN
21                   NaN
22              0.002985
23                   NaN
24                   NaN
25                   NaN
26                   NaN
27                   NaN
28                   NaN
29                   NaN
30                   NaN
31                   NaN

In [100]:
# Not living at report
nat_2016[nat_2016['combined_gestation_wk'].groupby(nat_2016.mothers_race).count()[['Unnamed: 0']]

SyntaxError: unexpected EOF while parsing (<ipython-input-100-26d8342cad17>, line 2)

In [101]:
# Birth Weight
nat_2016.birth_weight_gm.groupby(nat_2016.mothers_age).mean()

mothers_age
12    2989.947368
13    3124.309859
14    3084.997696
15    3150.704775
16    3147.961558
17    3156.882581
18    3168.118353
19    3179.783545
20    3205.869973
21    3215.039893
22    3229.735579
23    3237.246220
24    3256.786110
25    3263.759714
26    3278.268826
27    3280.492826
28    3293.985558
29    3295.949882
30    3298.936298
31    3301.695417
32    3300.890113
33    3299.857732
34    3299.145770
35    3296.212642
36    3284.896680
37    3273.835568
38    3277.382987
39    3272.175527
40    3256.782629
41    3240.869713
42    3226.219520
43    3206.442019
44    3170.720331
45    3082.330671
46    3126.689394
47    3034.788889
48    3011.445344
49    2829.500000
50    2939.021212
Name: birth_weight_gm, dtype: float64

In [78]:
nat_2016.combined_gestation_wk.groupby(nat_2016.mothers_age).value_counts()

mothers_age  combined_gestation_wk
12           38                          4
             39                          4
             40                          3
             35                          2
             37                          2
             30                          1
             34                          1
             42                          1
             46                          1
13           39                         20
             40                         13
             38                          9
             37                          6
             34                          4
             36                          4
             41                          4
             42                          3
             32                          2
             33                          2
             27                          1
             30                          1
             35                          1
             43                          1
14           39                        106
             40                         87
             38                         58
             41                         48
             37                         31
             35                         22
             36                         15
             42                         11
             33                          8
             34                          7
             43                          7
             30                          4
             31                          4
             32                          4
             24                          3
             26                          3
             29                          3
             44                          3
             28                          2
             99                          2
             21                          1
             23                          1
             27                          1
             45                          1
             46                          1
             47                          1
15           39                        390
             40                        292
             38                        235
             41                        145
             37                        126
             36                         73
             35                         46
             34                         32
             42                         28
             43                         18
             44                         15
             31                         12
             33                         10
             32                          9
             28                          7
             45                          7
             99                          6
             24                          5
             29                          5
             30                          5
             46                          5
             27                          4
             26                          3
             19                          2
             21                          2
             22                          2
             25                          2
             47                          1
16           39                       1057
             40                        841
             38                        594
             37                        369
             41                        325
             36                        173
             35                        118
             42                         76
             34                         60
             33                         47
             43                         44
             32                         28
             44                         23
             31                         22
             30                         16
             29                         12
             45                         11
             46                          9
             28                          7
             24                          6
             25                          6
             47                          6
             23                          5
             27                          5
             99                          5
             26                          4
             21                          2
             22                          2
             17                          1
             19                          1
             20                          1
17           39                       2039
             40                       1616
             38                       1200
             41                        674
             37                        669
             36                        291
             35                        186
             42                        177
             34                        140
             43                         80
             33                         76
             32                         57
             44                         56
             45                         31
             30                         30
             31                         27
             28                         20
             27                         18
             29                         16
             46                         15
             25                         10
             26                         10
             99                         10
             47                          9
             23                          7
             24                          7
             22                          5
             20                          4
             21                          4
             18                          1
             19                          1
18           39                       3696
             40                       3070
             38                       2119
             41                       1281
             37                       1149
             36                        580
             42                        318
             35                        317
             34                        258
             43                        206
             33                        139
             44                        108
             32                         97
             45                         63
             30                         60
             31                         57
             46                         36
             28                         35
             29                         32
             27                         20
             24                         17
             47                         17
             26                         16
             25                         15
             23                         12
             22                          9
             99                          9
             20                          4
             19                          3
             21                          2
             17                          1
             18                          1
19           39                       6203
             40                       5037
             38                       3561
             41                       2180
             37                       1924
             36                        924
             42                        615
             35                        515
             34                        338
             43                        290
             33                        197
             44                        148
             32                        136
             31                        114
             30                         80
             45                         78
             29                         61
             28                         51
             27                         41
             46                         40
             24                         30
             26                         26
             47                         26
             99                         26
             25                         24
             23                         19
             22                         10
             21                          9
             19                          5
             20                          5
             18                          3
20           39                       8229
             40                       6452
             38                       4595
             41                       2803
             37                       2445
             36                       1145
             42                        737
             35                        621
             34                        422
             43                        366
             33                        251
             44                        197
             32                        172
             31                        123
             45                        102
             30                         91
             29                         72
             46                         64
             28                         63
             47                         55
             26                         37
             25                         33
             27                         31
             23                         28
             24                         28
             99                         26
             21                         18
             22                         15
             18                          7
             20                          7
             19                          3
             17                          2
21           39                       9660
             40                       7266
             38                       5485
             41                       3056
             37                       2907
             36                       1258
             42                        786
             35                        744
             34                        477
             43                        394
             33                        251
             44                        234
             32                        183
             45                        127
             31                        121
             30                        105
                                      ...
41           39                       2952
             38                       1745
             40                       1387
             37                       1032
             36                        481
             41                        463
             35                        264
             34                        193
             42                        133
             33                        117
             32                         66
             43                         57
             31                         54
             30                         32
             29                         30
             44                         28
             27                         20
             28                         16
             25                         15
             45                         14
             99                          9
             26                          8
             46                          8
             24                          7
             23                          6
             22                          4
             47                          4
             18                          1
             19                          1
             20                          1
             21                          1
42           39                       1900
             38                       1109
             40                        855
             37                        693
             36                        343
             41                        275
             35                        169
             34                        124
             33                         75
             42                         74
             32                         54
             43                         45
             31                         31
             30                         23
             44                         19
             28                         17
             26                         11
             29                         10
             27                          9
             47                          7
             45                          6
             99                          6
             21                          5
             25                          5
             23                          4
             24                          4
             22                          3
             46                          3
             20                          2
43           39                       1163
             38                        682
             40                        499
             37                        446
             36                        207
             41                        193
             35                        110
             34                         81
             42                         58
             33                         39
             32                         30
             31                         26
             30                         18
             43                         18
             29                         16
             26                         12
             24                         10
             28                          8
             44                          8
             46                          8
             47                          8
             45                          7
             27                          6
             25                          5
             19                          2
             20                          2
             22                          1
             23                          1
             99                          1
44           39                        628
             38                        426
             40                        300
             37                        283
             36                        120
             41                        117
             35                         72
             34                         58
             33                         33
             32                         31
             42                         16
             43                         16
             30                         14
             44                         12
             29                          9
             31                          8
             25                          4
             26                          4
             99                          4
             20                          3
             23                          3
             27                          3
             24                          2
             28                          2
             19                          1
             21                          1
             22                          1
             45                          1
             46                          1
             47                          1
45           39                        372
             38                        238
             37                        150
             40                        142
             36                         98
             35                         54
             41                         51
             32                         30
             34                         23
             31                         18
             33                         14
             29                         11
             43                          9
             28                          7
             42                          5
             26                          4
             44                          4
             24                          3
             30                          3
             46                          3
             22                          2
             27                          2
             45                          2
             99                          2
             20                          1
             21                          1
             23                          1
             25                          1
             47                          1
46           39                        187
             38                        128
             40                         82
             37                         80
             36                         47
             41                         31
             35                         28
             34                         22
             33                         14
             32                         13
             42                          6
             31                          4
             28                          3
             44                          3
             24                          2
             43                          2
             19                          1
             22                          1
             25                          1
             26                          1
             29                          1
             30                          1
             45                          1
             46                          1
47           39                         87
             40                         55
             37                         49
             38                         44
             36                         27
             41                         25
             35                         23
             34                         14
             33                          7
             42                          7
             29                          3
             31                          3
             43                          3
             22                          2
             28                          2
             32                          2
             44                          2
             45                          2
             20                          1
             24                          1
             27                          1
48           39                         66
             37                         35
             38                         34
             36                         31
             40                         28
             34                         14
             35                         13
             33                          6
             41                          6
             19                          2
             26                          2
             32                          2
             42                          2
             47                          2
             21                          1
             27                          1
             30                          1
             31                          1
49           39                         37
             37                         32

In [36]:
nat_2016.groupby(nat_2016.combined_gestation_wk)[['mothers_age','mothers_education','mothers_race']].agg(lambda x: x.value_counts().index[0])

                       mothers_age  mothers_education  mothers_race
combined_gestation_wk
17                              22                  3             2
18                              31                  3             1
19                              36                  3             1
20                              31                  3             1
21                              26                  3             1
22                              26                  3             1
23                              32                  3             1
24                              30                  3             1
25                              33                  3             1
26                              29                  3             1
27                              33                  3             1
28                              24                  3             1
29                              27                  3             1
30                              32                  3             1
31                              31                  3             1
32                              31                  3             1
33                              31                  3             1
34                              32                  3             1
35                              31                  3             1
36                              31                  3             1
37                              31                  3             1
38                              31                  3             1
39                              31                  3             1
40                              30                  3             1
41                              30                  3             1
42                              31                  3             1
43                              26                  3             1
44                              25                  3             1
45                              24                  3             1
46                              27                  3             1
47                              26                  3             1
99                              28                  3             1

In [37]:
nat_2016.mothers_age.value_counts()

31    60788
30    60422
29    59160
28    57954
32    57477
27    55618
33    55079
26    53570
34    50175
25    50007
24    46220
35    44107
23    42068
22    38677
36    37079
21    33565
37    29532
20    29240
38    23429
19    22716
39    18020
18    13747
40    13125
41     9149
17     7486
42     5881
16     3876
43     3665
44     2174
15     1487
45     1252
46      660
14      434
47      360
50      330
48      247
49      162
13       71
12       19
Name: mothers_age, dtype: int64

In [ ]:
nat_2016.mothers_race

In [96]:
nat_2016.combined_gestation_wk.groupby(nat_2016.mothers_age).value_counts()

mothers_age  combined_gestation_wk
12           38                          4
             39                          4
             40                          3
             35                          2
             37                          2
             30                          1
             34                          1
             42                          1
             46                          1
13           39                         20
             40                         13
             38                          9
             37                          6
             34                          4
             36                          4
             41                          4
             42                          3
             32                          2
             33                          2
             27                          1
             30                          1
             35                          1
             43                          1
14           39                        106
             40                         87
             38                         58
             41                         48
             37                         31
             35                         22
             36                         15
             42                         11
             33                          8
             34                          7
             43                          7
             30                          4
             31                          4
             32                          4
             24                          3
             26                          3
             29                          3
             44                          3
             28                          2
             99                          2
             21                          1
             23                          1
             27                          1
             45                          1
             46                          1
             47                          1
15           39                        390
             40                        292
             38                        235
             41                        145
             37                        126
             36                         73
             35                         46
             34                         32
             42                         28
             43                         18
             44                         15
             31                         12
             33                         10
             32                          9
             28                          7
             45                          7
             99                          6
             24                          5
             29                          5
             30                          5
             46                          5
             27                          4
             26                          3
             19                          2
             21                          2
             22                          2
             25                          2
             47                          1
16           39                       1057
             40                        841
             38                        594
             37                        369
             41                        325
             36                        173
             35                        118
             42                         76
             34                         60
             33                         47
             43                         44
             32                         28
             44                         23
             31                         22
             30                         16
             29                         12
             45                         11
             46                          9
             28                          7
             24                          6
             25                          6
             47                          6
             23                          5
             27                          5
             99                          5
             26                          4
             21                          2
             22                          2
             17                          1
             19                          1
             20                          1
17           39                       2039
             40                       1616
             38                       1200
             41                        674
             37                        669
             36                        291
             35                        186
             42                        177
             34                        140
             43                         80
             33                         76
             32                         57
             44                         56
             45                         31
             30                         30
             31                         27
             28                         20
             27                         18
             29                         16
             46                         15
             25                         10
             26                         10
             99                         10
             47                          9
             23                          7
             24                          7
             22                          5
             20                          4
             21                          4
             18                          1
             19                          1
18           39                       3696
             40                       3070
             38                       2119
             41                       1281
             37                       1149
             36                        580
             42                        318
             35                        317
             34                        258
             43                        206
             33                        139
             44                        108
             32                         97
             45                         63
             30                         60
             31                         57
             46                         36
             28                         35
             29                         32
             27                         20
             24                         17
             47                         17
             26                         16
             25                         15
             23                         12
             22                          9
             99                          9
             20                          4
             19                          3
             21                          2
             17                          1
             18                          1
19           39                       6203
             40                       5037
             38                       3561
             41                       2180
             37                       1924
             36                        924
             42                        615
             35                        515
             34                        338
             43                        290
             33                        197
             44                        148
             32                        136
             31                        114
             30                         80
             45                         78
             29                         61
             28                         51
             27                         41
             46                         40
             24                         30
             26                         26
             47                         26
             99                         26
             25                         24
             23                         19
             22                         10
             21                          9
             19                          5
             20                          5
             18                          3
20           39                       8229
             40                       6452
             38                       4595
             41                       2803
             37                       2445
             36                       1145
             42                        737
             35                        621
             34                        422
             43                        366
             33                        251
             44                        197
             32                        172
             31                        123
             45                        102
             30                         91
             29                         72
             46                         64
             28                         63
             47                         55
             26                         37
             25                         33
             27                         31
             23                         28
             24                         28
             99                         26
             21                         18
             22                         15
             18                          7
             20                          7
             19                          3
             17                          2
21           39                       9660
             40                       7266
             38                       5485
             41                       3056
             37                       2907
             36                       1258
             42                        786
             35                        744
             34                        477
             43                        394
             33                        251
             44                        234
             32                        183
             45                        127
             31                        121
             30                        105
                                      ...
41           39                       2952
             38                       1745
             40                       1387
             37                       1032
             36                        481
             41                        463
             35                        264
             34                        193
             42                        133
             33                        117
             32                         66
             43                         57
             31                         54
             30                         32
             29                         30
             44                         28
             27                         20
             28                         16
             25                         15
             45                         14
             99                          9
             26                          8
             46                          8
             24                          7
             23                          6
             22                          4
             47                          4
             18                          1
             19                          1
             20                          1
             21                          1
42           39                       1900
             38                       1109
             40                        855
             37                        693
             36                        343
             41                        275
             35                        169
             34                        124
             33                         75
             42                         74
             32                         54
             43                         45
             31                         31
             30                         23
             44                         19
             28                         17
             26                         11
             29                         10
             27                          9
             47                          7
             45                          6
             99                          6
             21                          5
             25                          5
             23                          4
             24                          4
             22                          3
             46                          3
             20                          2
43           39                       1163
             38                        682
             40                        499
             37                        446
             36                        207
             41                        193
             35                        110
             34                         81
             42                         58
             33                         39
             32                         30
             31                         26
             30                         18
             43                         18
             29                         16
             26                         12
             24                         10
             28                          8
             44                          8
             46                          8
             47                          8
             45                          7
             27                          6
             25                          5
             19                          2
             20                          2
             22                          1
             23                          1
             99                          1
44           39                        628
             38                        426
             40                        300
             37                        283
             36                        120
             41                        117
             35                         72
             34                         58
             33                         33
             32                         31
             42                         16
             43                         16
             30                         14
             44                         12
             29                          9
             31                          8
             25                          4
             26                          4
             99                          4
             20                          3
             23                          3
             27                          3
             24                          2
             28                          2
             19                          1
             21                          1
             22                          1
             45                          1
             46                          1
             47                          1
45           39                        372
             38                        238
             37                        150
             40                        142
             36                         98
             35                         54
             41                         51
             32                         30
             34                         23
             31                         18
             33                         14
             29                         11
             43                          9
             28                          7
             42                          5
             26                          4
             44                          4
             24                          3
             30                          3
             46                          3
             22                          2
             27                          2
             45                          2
             99                          2
             20                          1
             21                          1
             23                          1
             25                          1
             47                          1
46           39                        187
             38                        128
             40                         82
             37                         80
             36                         47
             41                         31
             35                         28
             34                         22
             33                         14
             32                         13
             42                          6
             31                          4
             28                          3
             44                          3
             24                          2
             43                          2
             19                          1
             22                          1
             25                          1
             26                          1
             29                          1
             30                          1
             45                          1
             46                          1
47           39                         87
             40                         55
             37                         49
             38                         44
             36                         27
             41                         25
             35                         23
             34                         14
             33                          7
             42                          7
             29                          3
             31                          3
             43                          3
             22                          2
             28                          2
             32                          2
             44                          2
             45                          2
             20                          1
             24                          1
             27                          1
48           39                         66
             37                         35
             38                         34
             36                         31
             40                         28
             34                         14
             35                         13
             33                          6
             41                          6
             19                          2
             26                          2
             32                          2
             42                          2
             47                          2
             21                          1
             27                          1
             30                          1
             31                          1
49           39                         37
             37                         32

In [115]:
nat_2016.groupby('wic')[["Mother's Education Code", "Father's Education Code", "Ten Minute APGAR Score"]].agg(lambda x: x.value_counts().index[0])

KeyError: 'Columns not found: \'Ten Minute APGAR Score\', "Father\'s Education Code", "Mother\'s Education Code"'

In [125]:
# Median birth weight by sex of infant
nat_2016.groupby(nat_2016.sex_of_infant)[['birth_weight_gm']].median()

               birth_weight_gm
sex_of_infant
F                         3246
M                         3365

NameError: name 'value_counts' is not defined

In [11]:
nat_2016.groupby(nat_2016.sex_of_infant)[['birth_weight_gm']].agg(lambda x: x.value_counts().index[0])

               birth_weight_gm
sex_of_infant
F                         3260
M                         3430

In [42]:
nat_2016.groupby(nat_2016.admit_NICU)[['mothers_age']].agg(lambda x: x.value_counts().index[0])

            mothers_age
admit_NICU
N                    31
U                    28
Y                    31

In [45]:
nat_2016.groupby(nat_2016.admit_NICU)[['mothers_race']].median()

            mothers_race
admit_NICU
N                      1
U                      1
Y                      1

In [57]:
nat_2016[nat_2016['admit_NICU'] == 'Y'].groupby(nat_2016.mothers_race).count()[['admit_NICU']]

              admit_NICU
mothers_race
1                  55997
2                  13484
3                    947
4                   6797
5                    333
6                    775
7                     91
8                     74
9                     20
10                   561
11                    14
12                     7
13                   640
14                    45
15                    77
16                    86
17                     6
18                     1
19                    32
20                     3
21                     8
22                    25
23                     2
24                     4
25                    23
26                     2
30                     1
31                     1

In [60]:
nat_2016[nat_2016['admit_NICU'] == 'N'].groupby(nat_2016.mothers_race).count()[['admit_NICU']]

              admit_NICU
mothers_race
1                 672425
2                 105945
3                  10174
4                  91416
5                   3392
6                   7585
7                    654
8                    733
9                    166
10                  5252
11                   155
12                    35
13                  7136
14                   544
15                   890
16                   776
17                    61
18                    14
19                   297
20                    30
21                    56
22                   202
23                    52
24                     9
25                   386
26                    19
27                     1
28                     3
29                     5
30                    11
31                     2

In [75]:
nat_2016.groupby(nat_2016.mothers_race)[['admit_NICU']].count()

              admit_NICU
mothers_race
1                 728807
2                 119543
3                  11138
4                  98231
5                   3725
6                   8365
7                    745
8                    807
9                    186
10                  5814
11                   169
12                    42
13                  7780
14                   589
15                   968
16                   862
17                    67
18                    15
19                   330
20                    33
21                    64
22                   227
23                    54
24                    13
25                   409
26                    21
27                     1
28                     3
29                     5
30                    12
31                     3

In [76]:
nat_2016.groupby(nat_2016.mothers_education)[['admit_NICU']].count()

                   admit_NICU
mothers_education
1                       35129
2                      100721
3                      252180
4                      199391
5                       74920
6                      187136
7                       83823
8                       26342
9                       29386

In [55]:
nat_2016.groupby(nat_2016.mothers_race)[nat_2016['admit_NICU'] == 'Y'].count()

KeyError: 'Columns not found: False, True'

In [49]:
nat_2016.admit_NICU.value_counts()

N    908426
Y     80056
U       546
Name: admit_NICU, dtype: int64

In [51]:
908426 + 80056 + 546

989028

In [129]:
nat_2016.admit_NICU.value_counts()

N    908426
Y     80056
U       546
Name: admit_NICU, dtype: int64

In [133]:
# Impute values into NICU
def nicu_ordinal( x ):
    if 'Y' in x:
        return 2
    elif 'N' in x:
        return 1
    else:
        return 0

In [132]:
nat_2016.admit_NICU.map(nicu_ordinal).value_counts()

1    908426
2     80056
0       546
Name: admit_NICU, dtype: int64

In [8]:
# total counts of babies admitted to NICU
nat_2016.groupby(['mothers_race', 'mothers_education', 'admit_NICU']).agg({'birth_year':'count'})

                                           birth_year
mothers_race mothers_education admit_NICU
1            1                 N                28026
                               U                    8
                               Y                 2270
             2                 N                71564
                               U                   39
                               Y                 6402
             3                 N               171854
                               U                  127
                               Y                14325
             4                 N               135364
                               U                   76
                               Y                11776
             5                 N                51546
                               U                   13
                               Y                 4255
             6                 N               125146
                               U                   60
                               Y                 9566
             7                 N                53522
                               U                   26
                               Y                 4241
             8                 N                16541
                               U                    5
                               Y                 1337
             9                 N                18862
                               U                   31
                               Y                 1825
2            1                 N                 2460
                               U                    3
                               Y                  333
             2                 N                13353
                               U                   17
                               Y                 1773
             3                 N                37637
                               U                   43
                               Y                 4818
             4                 N                26065
                               U                   26
                               Y                 3269
             5                 N                 8022
                               U                    5
                               Y                 1020
             6                 N                10773
                               U                   10
                               Y                 1265
             7                 N                 4597
                               U                    3
                               Y                  550
             8                 N                 1061
                               Y                  160
             9                 N                 1977
                               U                    7
                               Y                  296
3            1                 N                  227
                               Y                   26
             2                 N                 2100
                               U                    1
                               Y                  226
             3                 N                 3716
                               U                    9
                               Y                  346
             4                 N                 2613
                               U                    4
                               Y                  215
             5                 N                  656
                               Y                   56
             6                 N                  492
                               U                    1
                               Y                   37
             7                 N                  172
                               Y                   18
             8                 N                   40
                               Y                    2
             9                 N                  158
                               U                    2
                               Y                   21
4            1                 N                 1322
                               Y                  110
             2                 N                 2177
                               Y                  168
             3                 N                10186
                               U                    2
                               Y                  804
             4                 N                10310
                               U                    3
                               Y                  841
             5                 N                 6315
                               Y                  475
             6                 N                32408
                               U                    3
                               Y                 2303
             7                 N                17466
                               U                    1
                               Y                 1249
             8                 N                 6015
                               U                    3
                               Y                  448
             9                 N                 5217
                               U                    6
                               Y                  399
5            1                 N                  160
                               Y                    4
             2                 N                  395
                               Y                   50
             3                 N                 1291
                               Y                  133
             4                 N                  821
                               Y                   71
             5                 N                  213
                               Y                   23
             6                 N                  263
                               Y                   28
             7                 N                   68
                               Y                    5
             8                 N                   12
                               Y                    4
             9                 N                  169
                               Y                   15
6            1                 N                   41
                               Y                    3
             2                 N                  891
                               Y                  120
             3                 N                 2268
                               U                    2
                               Y                  212
             4                 N                 2387
                               U                    3
                               Y                  245
             5                 N                  586
                               Y                   62
             6                 N                  827
                               Y                   97
             7                 N                  363
                               Y                   20
             8                 N                  104
                               Y                    4
             9                 N                  118
                               Y                   12
7            1                 N                    2
             2                 N                   90
                               Y                   12
             3                 N                  180
                               Y                   30
             4                 N                  220
                               Y                   26
             5                 N                   50
                               Y                    9
             6                 N                   52
                               Y                   12
             7                 N                   37
                               Y                    1
             8                 N                    9
             9                 N                   14
                               Y                    1
8            1                 N                    1
             2                 N                   44
                               Y                    8
             3                 N                  166
                               Y                   11
             4                 N                  211
                               Y                   25
             5                 N                   80
                               Y                    8
             6                 N                  136
                               Y                   13
             7                 N                   66
                               Y                    7
             8                 N                   13
             9                 N                   16
                               Y                    2
9            1                 N                    1
             2                 N                   11
                               Y                    3
             3                 N                   72
                               Y                    9
             4                 N                   43
                               Y                    4
             5                 N                   18
                               Y                    1
             6                 N                   14
                               Y                    2
             7                 N                    4
                               Y                    1
             9                 N                    3
10           1                 N                   58
                               Y                    4
             2                 N                  633
                               Y                   70
             3                 N                 1488
                               Y                  184
             4                 N                 1612
                               U                    1
                               Y                  145
             5                 N                  461
                               Y                   48
             6                 N                  642
                               Y                   67
             7                 N                  230
                               Y                   26
             8                 N                   61
                               Y                    6
             9                 N                   67
                               Y                   11
11           1                 N                    1
             2                 N                   29
                               Y                    3
             3                 N                   45
                               Y                    5
             4                 N                   40
                               Y                    4
             5                 N                   14
                               Y                    1
             6                 N                   16
                               Y                    1
             7                 N                    7
             8                 N                    2
             9                 N                    1
12           2                 N                    4
                               Y                    2
             3                 N                   10
                               Y                    1
             4                 N                   12
                               Y                    3
             5                 N                    4
             6                 N                    3
             7                 N                    1
                               Y                    1
             9                 N                    1
13           1                 N                   51
                               Y                    3
             2                 N                  244
                               Y                   23
             3                 N                 1142
                               U                    2
                               Y                   96
             4                 N                 1603
                               U                    2
                               Y                  168
             5                 N                  592
                               Y                   57
             6                 N                 2128
                               Y                  178
             7                 N                  866
                               Y                   74
             8                 N                  419
                               Y                   32
             9                 N                   91
                               Y                    9
14           1                 N                    1
             2                 N                   33
                               Y                    2
             3                 N                  147
                               Y                   12
             4                 N                  147
                               Y                   13
             5                 N                   49
                               Y                   10
             6                 N                  115
                               Y                    5
             7                 N                   33
                               Y                    2
             8                 N                   11
             9                 N                    8
                               Y                    1
15           1                 N                    5
                               Y                    2
             2                 N                   55
                               Y                    3
             3                 N                  231
                               Y                   20
             4                 N                  298
                               Y                   28
             5                 N                   77
                               U                    1
                               Y                    6
             6                 N                  153
                               Y                   10
             7                 N                   46
                               Y                    6
             8                 N                   12
             9                 N                   13
                               Y                    2
16           1                 N                    5
             2                 N                   74
                               Y                    8
             3                 N                  197
                               Y                   18
             4                 N                  263
                               Y                   34
             5                 N                   71
                               Y                    6
             6                 N                  100
                               Y                    9
             7                 N                   42
                               Y                    7
             8                 N                   13
                               Y                    3
             9                 N                   11
                               Y                    1
17           2                 N                    4
                               Y                    1
             3                 N                   16
                               Y                    1
             4                 N                   22
                               Y                    3
             5                 N                    6
                               Y                    1
             6                 N                   11
             7                 N                    2
18           2                 N                    1
                               Y                    1
             3                 N                    5
             4                 N                    7
             7                 N                    1
19           2                 N                   25
                               Y                    3
             3                 N                   82
                               Y                    7
             4                 N                   95
                               Y                   10
             5                 N                   17
                               Y                    2
             6                 N                   37
                               U                    1
                               Y                    6
             7                 N                   20
                               Y                    2
             8                 N                   14
             9                 N                    7
                               Y                    2
20           2                 N                    2
             3                 N                    9
                               Y                    2
             4                 N                   10
             5                 N                    5
             6                 N                    1
                               Y                    1
             7                 N                    1
             8                 N                    1
             9                 N                    1
21           2                 N                    5
             3                 N                   24
                               Y                    5
             4                 N                   20
                               Y                    2
             5                 N                    5
             6                 N                    2
                               Y                    1
22           1                 N                    1
             2                 N                   15
                               Y                    5
             3                 N                   50
                               Y                    8
             4                 N                   64
                               Y                    8
             5                 N                   21
                               Y                    1
             6                 N                   34
                               Y                    3
             7                 N                   12
             8                 N                    2
             9                 N                    3
23           2                 N                   11
             3                 N                   11
             4                 N                   14
             5                 N                    4
                               Y                    1
             6                 N                    9

In [112]:
nat_2016.groupby(nat_2016.sex_of_infant)[['birth_weight_gm','assist_vent_immed','assist_vent_after6','admit_NICU','antibiotics_for_newborn']].agg(lambda x: x.value_counts().index[0])

               birth_weight_gm assist_vent_immed assist_vent_after6 admit_NICU antibiotics_for_newborn
sex_of_infant
F                         3260                 N                  N          N                       N
M                         3430                 N                  N          N                       N

In [105]:
# change to boolean
nat_2016.assist_vent_immed

0         N
1         N
2         N
3         N
4         N
5         N
6         N
7         Y
8         N
9         N
10        N
11        N
12        N
13        N
14        N
15        N
16        N
17        N
18        Y
19        N
20        N
21        N
22        N
23        N
24        N
25        N
26        N
27        N
28        N
29        N
30        N
31        N
32        N
33        N
34        N
35        N
36        N
37        N
38        N
39        N
40        N
41        N
42        N
43        Y
44        Y
45        N
46        N
47        N
48        N
49        N
50        N
51        N
52        N
53        N
54        N
55        N
56        N
57        N
58        N
59        N
60        N
61        N
62        N
63        N
64        N
65        N
66        N
67        N
68        N
69        N
70        N
71        N
72        N
73        N
74        N
75        N
76        N
77        N
78        N
79        N
80        N
81        N
82        N
83        N
84        N
85        Y
86        N
87        N
88        N
89        N
90        N
91        N
92        N
93        N
94        N
95        N
96        N
97        Y
98        Y
99        N
100       N
101       N
102       N
103       Y
104       N
105       N
106       Y
107       N
108       N
109       N
110       N
111       N
112       N
113       N
114       N
115       N
116       N
117       N
118       N
119       N
120       Y
121       Y
122       N
123       N
124       N
125       N
126       N
127       N
128       N
129       N
130       N
131       N
132       Y
133       N
134       N
135       N
136       N
137       Y
138       N
139       N
140       N
141       N
142       N
143       N
144       Y
145       N
146       N
147       N
148       N
149       N
150       N
151       Y
152       N
153       N
154       N
155       N
156       N
157       N
158       N
159       N
160       N
161       N
162       N
163       N
164       N
165       Y
166       N
167       N
168       N
169       N
170       N
171       N
172       N
173       N
174       N
175       N
176       N
177       N
178       N
179       N
180       N
181       N
182       N
183       N
184       N
185       N
186       N
187       N
188       N
189       N
190       N
191       N
192       N
193       N
194       N
195       N
196       N
197       N
198       N
199       N
200       N
201       N
202       Y
203       N
204       N
205       N
206       N
207       N
208       N
209       N
210       N
211       N
212       N
213       N
214       N
215       N
216       N
217       N
218       Y
219       N
220       N
221       N
222       Y
223       Y
224       Y
225       N
226       N
227       N
228       N
229       N
230       N
231       N
232       N
233       Y
234       N
235       N
236       Y
237       N
238       N
239       N
240       N
241       N
242       N
243       N
244       N
245       Y
246       N
247       N
248       N
249       N
         ..
988778    N
988779    N
988780    N
988781    N
988782    N
988783    N
988784    N
988785    N
988786    N
988787    N
988788    N
988789    N
988790    N
988791    N
988792    N
988793    N
988794    N
988795    N
988796    N
988797    N
988798    N
988799    N
988800    N
988801    N
988802    N
988803    N
988804    N
988805    N
988806    N
988807    N
988808    N
988809    N
988810    N
988811    N
988812    N
988813    N
988814    N
988815    N
988816    N
988817    N
988818    N
988819    N
988820    N
988821    N
988822    N
988823    N
988824    N
988825    N
988826    N
988827    N
988828    N
988829    N
988830    N
988831    N
988832    U
988833    N
988834    N
988835    N
988836    N
988837    N
988838    N
988839    N
988840    N
988841    N
988842    N
988843    N
988844    N
988845    N
988846    N
988847    N
988848    N
988849    N
988850    N
988851    N
988852    N
988853    N
988854    N
988855    N
988856    N
988857    N
988858    N
988859    N
988860    Y
988861    U
988862    N
988863    N
988864    N
988865    N
988866    N
988867    N
988868    N
988869    N
988870    N
988871    N
988872    N
988873    N
988874    N
988875    N
988876    N
988877    N
988878    N
988879    N
988880    N
988881    N
988882    N
988883    N
988884    N
988885    N
988886    N
988887    N
988888    N
988889    N
988890    N
988891    N
988892    N
988893    N
988894    N
988895    U
988896    N
988897    N
988898    N
988899    N
988900    N
988901    N
988902    N
988903    N
988904    N
988905    N
988906    N
988907    N
988908    N
988909    N
988910    N
988911    N
988912    N
988913    N
988914    N
988915    N
988916    N
988917    N
988918    N
988919    N
988920    N
988921    N
988922    N
988923    N
988924    N
988925    N
988926    N
988927    N
988928    N
988929    N
988930    N
988931    N
988932    N
988933    N
988934    N
988935    N
988936    N
988937    N
988938    N
988939    N
988940    N
988941    N
988942    N
988943    N
988944    N
988945    U
988946    N
988947    N
988948    N
988949    N
988950    N
988951    N
988952    N
988953    N
988954    N
988955    N
988956    N
988957    N
988958    N
988959    N
988960    Y
988961    N
988962    N
988963    N
988964    N
988965    N
988966    N
988967    N
988968    N
988969    N
988970    N
988971    N
988972    N
988973    N
988974    N
988975    N
988976    N
988977    N
988978    N
988979    N
988980    N
988981    N
988982    N
988983    N
988984    N
988985    N
988986    N
988987    N
988988    N
988989    N
988990    N
988991    N
988992    N
988993    N
988994    N
988995    N
988996    N
988997    N
988998    N
988999    N
989000    N
989001    N
989002    N
989003    N
989004    N
989005    N
989006    N
989007    N
989008    N
989009    N
989010    N
989011    N
989012    N
989013    N
989014    N
989015    N
989016    N
989017    N
989018    N
989019    N
989020    N
989021    N
989022    N
989023    N
989024    N
989025    N
989026    N
989027    N
Name: assist_vent_immed, Length: 989028, dtype: object

In [106]:
# change to boolean
nat_2016.assist_vent_after6

0         N
1         N
2         N
3         N
4         N
5         N
6         N
7         Y
8         N
9         N
10        N
11        N
12        N
13        N
14        N
15        N
16        N
17        N
18        Y
19        N
20        N
21        N
22        N
23        N
24        N
25        N
26        N
27        N
28        N
29        N
30        N
31        N
32        N
33        N
34        N
35        N
36        N
37        N
38        N
39        N
40        N
41        N
42        N
43        Y
44        N
45        N
46        N
47        N
48        N
49        N
50        N
51        N
52        N
53        N
54        N
55        N
56        N
57        N
58        N
59        N
60        N
61        N
62        N
63        N
64        N
65        N
66        N
67        N
68        N
69        N
70        N
71        N
72        N
73        N
74        N
75        N
76        N
77        N
78        N
79        N
80        N
81        N
82        N
83        N
84        N
85        Y
86        N
87        N
88        N
89        N
90        N
91        N
92        N
93        N
94        N
95        N
96        N
97        Y
98        Y
99        N
100       N
101       N
102       N
103       N
104       N
105       N
106       N
107       N
108       N
109       N
110       N
111       N
112       N
113       N
114       N
115       N
116       N
117       N
118       N
119       N
120       N
121       N
122       N
123       N
124       N
125       N
126       N
127       N
128       N
129       N
130       N
131       N
132       Y
133       N
134       N
135       N
136       N
137       Y
138       N
139       N
140       N
141       N
142       N
143       N
144       N
145       N
146       N
147       N
148       N
149       N
150       N
151       Y
152       N
153       N
154       N
155       N
156       N
157       N
158       N
159       N
160       N
161       N
162       N
163       N
164       N
165       N
166       N
167       N
168       N
169       N
170       N
171       N
172       N
173       N
174       N
175       N
176       N
177       N
178       N
179       N
180       N
181       N
182       N
183       N
184       N
185       N
186       N
187       N
188       N
189       N
190       N
191       N
192       N
193       N
194       N
195       N
196       N
197       N
198       N
199       N
200       N
201       N
202       N
203       N
204       N
205       N
206       N
207       N
208       N
209       N
210       N
211       N
212       N
213       N
214       N
215       N
216       N
217       N
218       Y
219       N
220       N
221       N
222       N
223       Y
224       N
225       N
226       N
227       N
228       N
229       N
230       N
231       N
232       N
233       Y
234       N
235       N
236       N
237       N
238       N
239       N
240       N
241       N
242       N
243       N
244       N
245       N
246       N
247       N
248       N
249       N
         ..
988778    N
988779    N
988780    N
988781    N
988782    N
988783    N
988784    N
988785    N
988786    N
988787    N
988788    N
988789    N
988790    N
988791    N
988792    N
988793    N
988794    N
988795    N
988796    N
988797    N
988798    N
988799    N
988800    N
988801    N
988802    N
988803    N
988804    N
988805    N
988806    N
988807    N
988808    N
988809    N
988810    N
988811    N
988812    N
988813    N
988814    N
988815    N
988816    N
988817    N
988818    N
988819    N
988820    N
988821    N
988822    N
988823    N
988824    N
988825    N
988826    N
988827    N
988828    N
988829    N
988830    N
988831    N
988832    U
988833    N
988834    N
988835    N
988836    N
988837    N
988838    N
988839    N
988840    N
988841    N
988842    N
988843    N
988844    N
988845    N
988846    N
988847    N
988848    N
988849    N
988850    N
988851    N
988852    N
988853    N
988854    N
988855    N
988856    N
988857    N
988858    N
988859    N
988860    N
988861    U
988862    N
988863    N
988864    N
988865    N
988866    N
988867    N
988868    N
988869    N
988870    N
988871    N
988872    N
988873    N
988874    N
988875    N
988876    N
988877    N
988878    N
988879    N
988880    N
988881    N
988882    N
988883    N
988884    N
988885    N
988886    N
988887    N
988888    N
988889    N
988890    N
988891    N
988892    N
988893    N
988894    N
988895    U
988896    N
988897    N
988898    N
988899    N
988900    N
988901    N
988902    N
988903    N
988904    N
988905    N
988906    N
988907    N
988908    N
988909    N
988910    N
988911    N
988912    N
988913    N
988914    N
988915    N
988916    N
988917    N
988918    N
988919    N
988920    N
988921    N
988922    N
988923    N
988924    N
988925    N
988926    N
988927    N
988928    N
988929    N
988930    N
988931    N
988932    N
988933    N
988934    N
988935    N
988936    N
988937    N
988938    N
988939    N
988940    N
988941    N
988942    N
988943    N
988944    N
988945    U
988946    N
988947    N
988948    N
988949    N
988950    N
988951    N
988952    N
988953    N
988954    N
988955    N
988956    N
988957    N
988958    N
988959    N
988960    N
988961    N
988962    N
988963    N
988964    N
988965    N
988966    N
988967    N
988968    N
988969    N
988970    N
988971    N
988972    N
988973    N
988974    N
988975    N
988976    N
988977    N
988978    N
988979    N
988980    N
988981    N
988982    N
988983    N
988984    N
988985    N
988986    N
988987    N
988988    N
988989    N
988990    N
988991    N
988992    N
988993    N
988994    N
988995    N
988996    N
988997    N
988998    N
988999    N
989000    N
989001    N
989002    N
989003    N
989004    N
989005    N
989006    N
989007    N
989008    N
989009    N
989010    N
989011    N
989012    N
989013    N
989014    N
989015    N
989016    N
989017    N
989018    N
989019    N
989020    N
989021    N
989022    N
989023    N
989024    N
989025    N
989026    N
989027    N
Name: assist_vent_after6, Length: 989028, dtype: object

In [107]:
# change to boolean
nat_2016.admit_NICU

0         N
1         N
2         N
3         N
4         N
5         N
6         N
7         Y
8         N
9         N
10        N
11        N
12        N
13        N
14        N
15        N
16        N
17        N
18        Y
19        N
20        N
21        N
22        N
23        N
24        N
25        N
26        N
27        Y
28        N
29        N
30        Y
31        N
32        N
33        N
34        N
35        N
36        N
37        Y
38        N
39        N
40        N
41        N
42        N
43        Y
44        N
45        N
46        N
47        N
48        N
49        N
50        N
51        N
52        N
53        N
54        N
55        N
56        N
57        N
58        N
59        N
60        N
61        N
62        N
63        N
64        N
65        N
66        N
67        N
68        N
69        N
70        N
71        N
72        N
73        N
74        N
75        N
76        Y
77        N
78        Y
79        N
80        N
81        N
82        N
83        N
84        N
85        Y
86        N
87        N
88        N
89        N
90        N
91        N
92        N
93        N
94        N
95        N
96        Y
97        Y
98        Y
99        N
100       N
101       N
102       N
103       N
104       N
105       N
106       N
107       N
108       N
109       N
110       N
111       N
112       N
113       N
114       N
115       N
116       Y
117       N
118       N
119       N
120       N
121       N
122       N
123       N
124       N
125       N
126       N
127       N
128       N
129       N
130       N
131       N
132       Y
133       N
134       N
135       N
136       Y
137       Y
138       N
139       N
140       N
141       N
142       N
143       N
144       N
145       N
146       N
147       N
148       N
149       N
150       N
151       Y
152       N
153       N
154       N
155       N
156       N
157       N
158       N
159       N
160       N
161       N
162       N
163       N
164       N
165       N
166       N
167       N
168       N
169       N
170       N
171       N
172       N
173       N
174       Y
175       N
176       N
177       N
178       N
179       N
180       N
181       N
182       N
183       N
184       N
185       N
186       N
187       N
188       N
189       N
190       N
191       N
192       N
193       N
194       N
195       N
196       N
197       N
198       N
199       N
200       N
201       N
202       N
203       N
204       N
205       N
206       N
207       N
208       N
209       N
210       N
211       N
212       N
213       N
214       N
215       N
216       N
217       Y
218       Y
219       N
220       N
221       Y
222       N
223       Y
224       N
225       N
226       Y
227       N
228       N
229       N
230       N
231       N
232       N
233       Y
234       N
235       N
236       N
237       N
238       N
239       N
240       N
241       N
242       N
243       N
244       N
245       N
246       N
247       N
248       N
249       N
         ..
988778    N
988779    N
988780    N
988781    N
988782    N
988783    N
988784    N
988785    N
988786    N
988787    N
988788    N
988789    N
988790    N
988791    N
988792    N
988793    N
988794    N
988795    N
988796    N
988797    N
988798    N
988799    N
988800    N
988801    N
988802    N
988803    N
988804    N
988805    N
988806    N
988807    N
988808    N
988809    N
988810    N
988811    N
988812    N
988813    N
988814    N
988815    N
988816    Y
988817    N
988818    Y
988819    N
988820    N
988821    N
988822    N
988823    N
988824    N
988825    N
988826    N
988827    N
988828    N
988829    N
988830    N
988831    N
988832    U
988833    N
988834    N
988835    Y
988836    Y
988837    N
988838    N
988839    N
988840    N
988841    N
988842    N
988843    N
988844    N
988845    N
988846    N
988847    N
988848    N
988849    N
988850    N
988851    N
988852    N
988853    N
988854    N
988855    N
988856    N
988857    N
988858    N
988859    N
988860    Y
988861    U
988862    N
988863    N
988864    N
988865    N
988866    N
988867    N
988868    N
988869    N
988870    N
988871    N
988872    N
988873    N
988874    N
988875    N
988876    N
988877    N
988878    N
988879    N
988880    N
988881    N
988882    N
988883    N
988884    N
988885    N
988886    N
988887    N
988888    N
988889    N
988890    N
988891    N
988892    N
988893    N
988894    N
988895    U
988896    N
988897    N
988898    N
988899    N
988900    N
988901    N
988902    N
988903    N
988904    N
988905    N
988906    N
988907    N
988908    N
988909    N
988910    N
988911    N
988912    N
988913    N
988914    N
988915    N
988916    N
988917    N
988918    N
988919    N
988920    N
988921    N
988922    N
988923    N
988924    N
988925    N
988926    N
988927    N
988928    N
988929    N
988930    N
988931    N
988932    N
988933    N
988934    Y
988935    N
988936    N
988937    N
988938    N
988939    N
988940    N
988941    N
988942    N
988943    N
988944    N
988945    U
988946    N
988947    N
988948    N
988949    N
988950    N
988951    N
988952    N
988953    N
988954    N
988955    N
988956    N
988957    N
988958    N
988959    N
988960    Y
988961    N
988962    N
988963    N
988964    N
988965    N
988966    Y
988967    N
988968    N
988969    N
988970    N
988971    N
988972    N
988973    N
988974    N
988975    N
988976    N
988977    N
988978    N
988979    N
988980    N
988981    N
988982    N
988983    N
988984    N
988985    N
988986    N
988987    N
988988    N
988989    N
988990    N
988991    N
988992    N
988993    N
988994    N
988995    N
988996    N
988997    N
988998    N
988999    N
989000    N
989001    N
989002    N
989003    N
989004    N
989005    N
989006    N
989007    N
989008    N
989009    N
989010    N
989011    N
989012    N
989013    N
989014    N
989015    N
989016    N
989017    N
989018    N
989019    N
989020    N
989021    N
989022    N
989023    N
989024    N
989025    N
989026    N
989027    Y
Name: admit_NICU, Length: 989028, dtype: object

In [108]:
nat_2016.antibiotics_for_newborn

0         N
1         N
2         N
3         N
4         N
5         N
6         N
7         Y
8         N
9         N
10        N
11        N
12        N
13        N
14        N
15        N
16        N
17        N
18        Y
19        N
20        N
21        N
22        N
23        N
24        N
25        N
26        N
27        N
28        N
29        N
30        N
31        N
32        N
33        N
34        N
35        N
36        N
37        N
38        N
39        N
40        N
41        N
42        N
43        N
44        N
45        N
46        N
47        N
48        N
49        N
50        N
51        N
52        N
53        N
54        N
55        N
56        N
57        N
58        N
59        N
60        N
61        N
62        N
63        N
64        N
65        N
66        N
67        N
68        N
69        N
70        N
71        N
72        N
73        N
74        N
75        N
76        Y
77        N
78        N
79        N
80        N
81        N
82        N
83        N
84        N
85        N
86        N
87        N
88        N
89        N
90        N
91        N
92        N
93        N
94        N
95        N
96        N
97        Y
98        Y
99        N
100       N
101       N
102       N
103       N
104       N
105       N
106       N
107       N
108       N
109       N
110       N
111       N
112       N
113       N
114       N
115       N
116       N
117       N
118       N
119       N
120       N
121       N
122       N
123       N
124       N
125       N
126       N
127       N
128       N
129       N
130       N
131       N
132       Y
133       N
134       N
135       N
136       N
137       Y
138       N
139       N
140       N
141       N
142       N
143       N
144       N
145       N
146       N
147       N
148       N
149       N
150       N
151       Y
152       N
153       N
154       N
155       N
156       N
157       N
158       N
159       N
160       N
161       N
162       N
163       N
164       N
165       N
166       N
167       N
168       N
169       N
170       N
171       N
172       N
173       N
174       N
175       N
176       N
177       N
178       N
179       N
180       N
181       N
182       N
183       N
184       N
185       N
186       N
187       N
188       N
189       N
190       N
191       N
192       N
193       N
194       N
195       N
196       N
197       N
198       N
199       N
200       N
201       N
202       N
203       N
204       N
205       N
206       N
207       N
208       N
209       N
210       N
211       N
212       N
213       N
214       N
215       N
216       N
217       N
218       Y
219       N
220       N
221       Y
222       N
223       N
224       N
225       N
226       N
227       N
228       N
229       N
230       N
231       N
232       N
233       N
234       N
235       N
236       N
237       N
238       N
239       N
240       N
241       N
242       N
243       N
244       N
245       N
246       N
247       N
248       N
249       N
         ..
988778    N
988779    N
988780    N
988781    N
988782    N
988783    N
988784    N
988785    N
988786    N
988787    N
988788    N
988789    N
988790    N
988791    N
988792    N
988793    N
988794    N
988795    N
988796    N
988797    N
988798    N
988799    N
988800    N
988801    N
988802    N
988803    N
988804    N
988805    N
988806    N
988807    N
988808    N
988809    N
988810    N
988811    N
988812    N
988813    N
988814    N
988815    N
988816    N
988817    N
988818    N
988819    N
988820    N
988821    N
988822    N
988823    N
988824    N
988825    N
988826    N
988827    N
988828    N
988829    N
988830    N
988831    N
988832    U
988833    N
988834    N
988835    N
988836    N
988837    N
988838    N
988839    N
988840    N
988841    N
988842    N
988843    N
988844    N
988845    N
988846    N
988847    N
988848    N
988849    N
988850    N
988851    N
988852    N
988853    N
988854    N
988855    N
988856    N
988857    N
988858    N
988859    N
988860    Y
988861    U
988862    N
988863    N
988864    N
988865    N
988866    N
988867    N
988868    N
988869    N
988870    N
988871    N
988872    N
988873    N
988874    N
988875    N
988876    N
988877    N
988878    N
988879    N
988880    N
988881    N
988882    N
988883    N
988884    N
988885    N
988886    N
988887    N
988888    N
988889    N
988890    N
988891    N
988892    N
988893    N
988894    N
988895    U
988896    N
988897    N
988898    N
988899    N
988900    N
988901    N
988902    N
988903    N
988904    N
988905    N
988906    N
988907    N
988908    N
988909    N
988910    N
988911    N
988912    N
988913    N
988914    N
988915    N
988916    N
988917    N
988918    N
988919    N
988920    N
988921    N
988922    N
988923    N
988924    N
988925    N
988926    N
988927    N
988928    N
988929    N
988930    N
988931    N
988932    N
988933    N
988934    N
988935    N
988936    N
988937    N
988938    N
988939    N
988940    N
988941    N
988942    N
988943    N
988944    N
988945    U
988946    N
988947    N
988948    N
988949    N
988950    N
988951    N
988952    N
988953    N
988954    N
988955    N
988956    N
988957    N
988958    N
988959    N
988960    N
988961    N
988962    N
988963    N
988964    N
988965    N
988966    N
988967    N
988968    N
988969    N
988970    N
988971    N
988972    N
988973    N
988974    N
988975    N
988976    N
988977    N
988978    N
988979    N
988980    N
988981    N
988982    N
988983    N
988984    N
988985    N
988986    N
988987    N
988988    N
988989    N
988990    N
988991    N
988992    N
988993    N
988994    N
988995    N
988996    N
988997    N
988998    N
988999    N
989000    N
989001    N
989002    N
989003    N
989004    N
989005    N
989006    N
989007    N
989008    N
989009    N
989010    N
989011    N
989012    N
989013    N
989014    N
989015    N
989016    N
989017    N
989018    N
989019    N
989020    N
989021    N
989022    N
989023    N
989024    N
989025    N
989026    N
989027    N
Name: antibiotics_for_newborn, Length: 989028, dtype: object

In [40]:
nat_2016.groupby(["no_infection_reported"])[["assist_vent_immed", "syphilis", "chlamydia", "hepB", "hepC"]]

In [42]:
nat_2016['pre_preg_diab'].groupby(nat_2016.mothers_education).value_counts()

KeyError: ('gonorrhea', 'syphilis', 'chlamydia', 'hepB', 'hepC')

In [82]:
# function to impute numbers into infection status
def no_infection(x):
    if 'Y' in x:
        return 1
    elif 'N' in x:
        return 2
    else:
        return 3

In [83]:
nat_2016.gonorrhea.map(no_infection).value_counts()

2    984500
3      2827
1      1701
Name: gonorrhea, dtype: int64

In [48]:
nat_2016.syphilis.map(no_infection).value_counts()

2    985578
3      2827
1       623
Name: syphilis, dtype: int64

In [49]:
nat_2016.chlamydia.map(no_infection).value_counts()

2    973659
1     12542
3      2827
Name: chlamydia, dtype: int64

In [50]:
nat_2016.hepB.map(no_infection).value_counts()

2    984109
3      2827
1      2092
Name: hepB, dtype: int64

In [51]:
nat_2016.hepC.map(no_infection).value_counts()

2    983949
3      2827
1      2252
Name: hepC, dtype: int64

In [84]:
# Impute numerical values into infection columns
infections = ["gonorrhea", "syphilis", "chlamydia", "hepB", "hepC"]

In [85]:
for infection in infections:
    nat_2016[infection] = nat_2016[infection].map(no_infection)

In [70]:
nat_2016.hepC

0         2
1         2
2         2
3         2
4         2
5         2
6         2
7         2
8         2
9         2
10        2
11        2
12        2
13        2
14        2
15        2
16        2
17        2
18        2
19        1
20        2
21        2
22        2
23        1
24        2
25        2
26        2
27        2
28        2
29        2
30        2
31        2
32        2
33        2
34        2
35        2
36        2
37        2
38        2
39        2
40        2
41        2
42        2
43        1
44        2
45        2
46        2
47        2
48        2
49        2
50        2
51        2
52        2
53        2
54        2
55        2
56        2
57        2
58        2
59        2
60        2
61        2
62        2
63        2
64        2
65        2
66        2
67        2
68        2
69        2
70        2
71        2
72        2
73        2
74        2
75        2
76        2
77        2
78        2
79        2
80        2
81        2
82        2
83        2
84        2
85        3
86        2
87        2
88        2
89        2
90        2
91        2
92        2
93        2
94        2
95        2
96        2
97        2
98        2
99        2
100       2
101       2
102       2
103       2
104       2
105       2
106       2
107       2
108       2
109       2
110       2
111       2
112       2
113       2
114       2
115       2
116       2
117       2
118       2
119       2
120       2
121       2
122       2
123       2
124       2
125       2
126       2
127       2
128       2
129       2
130       2
131       2
132       2
133       2
134       2
135       2
136       2
137       2
138       2
139       2
140       2
141       2
142       2
143       2
144       2
145       2
146       3
147       2
148       2
149       2
150       2
151       2
152       3
153       2
154       2
155       2
156       2
157       2
158       2
159       2
160       2
161       2
162       2
163       2
164       2
165       2
166       2
167       2
168       2
169       2
170       2
171       2
172       2
173       2
174       2
175       2
176       2
177       2
178       2
179       2
180       2
181       2
182       2
183       2
184       2
185       2
186       2
187       2
188       2
189       2
190       2
191       2
192       2
193       2
194       2
195       2
196       2
197       2
198       2
199       2
200       2
201       2
202       2
203       2
204       2
205       2
206       2
207       2
208       2
209       2
210       2
211       2
212       2
213       2
214       2
215       2
216       2
217       2
218       2
219       2
220       2
221       2
222       2
223       2
224       2
225       2
226       2
227       2
228       2
229       2
230       2
231       2
232       2
233       2
234       2
235       2
236       2
237       2
238       2
239       2
240       2
241       2
242       2
243       2
244       2
245       2
246       2
247       2
248       2
249       2
         ..
988778    2
988779    2
988780    2
988781    2
988782    2
988783    2
988784    2
988785    2
988786    2
988787    2
988788    2
988789    2
988790    2
988791    2
988792    2
988793    2
988794    2
988795    1
988796    2
988797    2
988798    2
988799    2
988800    2
988801    2
988802    2
988803    2
988804    2
988805    2
988806    2
988807    2
988808    2
988809    2
988810    2
988811    2
988812    2
988813    2
988814    2
988815    2
988816    2
988817    2
988818    2
988819    2
988820    2
988821    2
988822    2
988823    2
988824    2
988825    2
988826    2
988827    2
988828    2
988829    2
988830    2
988831    2
988832    2
988833    2
988834    2
988835    2
988836    2
988837    2
988838    2
988839    2
988840    2
988841    2
988842    2
988843    2
988844    2
988845    2
988846    2
988847    2
988848    2
988849    2
988850    2
988851    2
988852    2
988853    2
988854    2
988855    2
988856    2
988857    2
988858    2
988859    2
988860    2
988861    3
988862    2
988863    2
988864    2
988865    2
988866    2
988867    2
988868    2
988869    2
988870    2
988871    2
988872    2
988873    2
988874    2
988875    2
988876    2
988877    2
988878    2
988879    2
988880    2
988881    2
988882    2
988883    2
988884    2
988885    2
988886    2
988887    2
988888    2
988889    2
988890    2
988891    2
988892    2
988893    2
988894    2
988895    2
988896    2
988897    2
988898    2
988899    2
988900    2
988901    2
988902    2
988903    2
988904    2
988905    2
988906    2
988907    2
988908    2
988909    2
988910    2
988911    2
988912    2
988913    2
988914    2
988915    2
988916    2
988917    2
988918    2
988919    2
988920    2
988921    2
988922    2
988923    2
988924    2
988925    2
988926    2
988927    2
988928    2
988929    2
988930    2
988931    2
988932    2
988933    2
988934    2
988935    2
988936    2
988937    2
988938    2
988939    2
988940    2
988941    2
988942    2
988943    1
988944    2
988945    2
988946    2
988947    2
988948    2
988949    2
988950    2
988951    2
988952    2
988953    2
988954    2
988955    2
988956    2
988957    2
988958    2
988959    2
988960    2
988961    2
988962    2
988963    2
988964    2
988965    2
988966    2
988967    2
988968    2
988969    2
988970    2
988971    2
988972    2
988973    2
988974    2
988975    2
988976    2
988977    2
988978    2
988979    2
988980    2
988981    3
988982    2
988983    2
988984    2
988985    2
988986    2
988987    2
988988    2
988989    2
988990    2
988991    2
988992    2
988993    2
988994    2
988995    2
988996    2
988997    2
988998    2
988999    2
989000    2
989001    2
989002    2
989003    2
989004    2
989005    2
989006    2
989007    2
989008    2
989009    2
989010    2
989011    2
989012    2
989013    2
989014    1
989015    2
989016    2
989017    2
989018    2
989019    2
989020    2
989021    2
989022    2
989023    2
989024    2
989025    2
989026    2
989027    2
Name: hepC, Length: 989028, dtype: int64

In [63]:
nat_2016['gonorrhea'].map(no_infection)

0         2
1         2
2         2
3         2
4         2
5         2
6         2
7         2
8         2
9         2
10        2
11        2
12        2
13        2
14        2
15        2
16        2
17        2
18        2
19        2
20        2
21        2
22        2
23        2
24        2
25        2
26        2
27        2
28        2
29        2
30        2
31        2
32        2
33        2
34        2
35        2
36        2
37        2
38        2
39        2
40        2
41        2
42        2
43        2
44        2
45        2
46        2
47        2
48        2
49        2
50        2
51        2
52        2
53        2
54        2
55        2
56        2
57        2
58        2
59        2
60        2
61        2
62        2
63        2
64        2
65        2
66        2
67        2
68        2
69        2
70        2
71        2
72        2
73        2
74        2
75        2
76        2
77        2
78        2
79        2
80        2
81        2
82        2
83        2
84        2
85        3
86        2
87        2
88        2
89        2
90        2
91        2
92        2
93        2
94        2
95        2
96        2
97        2
98        2
99        2
100       2
101       2
102       2
103       2
104       2
105       2
106       2
107       2
108       2
109       2
110       2
111       2
112       2
113       2
114       2
115       2
116       2
117       2
118       2
119       2
120       2
121       2
122       2
123       2
124       2
125       2
126       2
127       2
128       2
129       2
130       2
131       2
132       2
133       2
134       2
135       2
136       2
137       2
138       2
139       2
140       2
141       2
142       2
143       2
144       2
145       2
146       3
147       2
148       2
149       2
150       2
151       2
152       3
153       2
154       2
155       2
156       2
157       2
158       2
159       2
160       2
161       2
162       2
163       2
164       2
165       2
166       2
167       2
168       2
169       2
170       2
171       2
172       2
173       2
174       1
175       2
176       2
177       2
178       2
179       2
180       2
181       2
182       2
183       2
184       2
185       2
186       2
187       2
188       2
189       2
190       2
191       2
192       2
193       2
194       2
195       2
196       2
197       2
198       2
199       2
200       2
201       2
202       2
203       2
204       2
205       2
206       2
207       2
208       2
209       2
210       2
211       2
212       2
213       2
214       2
215       2
216       2
217       2
218       2
219       2
220       2
221       2
222       2
223       2
224       2
225       2
226       2
227       2
228       2
229       2
230       2
231       2
232       2
233       2
234       2
235       2
236       2
237       2
238       2
239       2
240       2
241       2
242       2
243       2
244       2
245       2
246       2
247       2
248       2
249       2
         ..
988778    2
988779    2
988780    2
988781    2
988782    2
988783    2
988784    2
988785    2
988786    2
988787    2
988788    2
988789    2
988790    2
988791    2
988792    2
988793    2
988794    2
988795    2
988796    2
988797    2
988798    2
988799    2
988800    2
988801    2
988802    2
988803    2
988804    2
988805    2
988806    2
988807    2
988808    2
988809    2
988810    2
988811    2
988812    2
988813    2
988814    2
988815    2
988816    2
988817    2
988818    2
988819    2
988820    2
988821    2
988822    2
988823    2
988824    2
988825    2
988826    2
988827    2
988828    2
988829    2
988830    2
988831    2
988832    2
988833    2
988834    2
988835    2
988836    2
988837    2
988838    2
988839    2
988840    2
988841    2
988842    2
988843    2
988844    2
988845    2
988846    2
988847    2
988848    2
988849    2
988850    2
988851    2
988852    2
988853    2
988854    2
988855    2
988856    2
988857    2
988858    2
988859    2
988860    2
988861    3
988862    2
988863    2
988864    2
988865    2
988866    2
988867    2
988868    2
988869    2
988870    2
988871    2
988872    2
988873    2
988874    2
988875    2
988876    2
988877    2
988878    2
988879    2
988880    2
988881    2
988882    2
988883    2
988884    2
988885    2
988886    2
988887    2
988888    2
988889    2
988890    2
988891    2
988892    2
988893    2
988894    2
988895    2
988896    2
988897    2
988898    2
988899    2
988900    2
988901    2
988902    2
988903    2
988904    2
988905    2
988906    2
988907    2
988908    2
988909    2
988910    2
988911    2
988912    2
988913    2
988914    2
988915    2
988916    2
988917    2
988918    2
988919    2
988920    2
988921    2
988922    2
988923    2
988924    2
988925    2
988926    2
988927    2
988928    2
988929    2
988930    2
988931    2
988932    2
988933    2
988934    2
988935    2
988936    2
988937    2
988938    2
988939    2
988940    2
988941    2
988942    2
988943    2
988944    2
988945    2
988946    2
988947    2
988948    2
988949    2
988950    2
988951    2
988952    2
988953    2
988954    2
988955    2
988956    2
988957    2
988958    2
988959    2
988960    2
988961    2
988962    2
988963    2
988964    2
988965    2
988966    2
988967    2
988968    2
988969    2
988970    2
988971    2
988972    2
988973    2
988974    2
988975    2
988976    2
988977    2
988978    2
988979    2
988980    2
988981    3
988982    2
988983    2
988984    2
988985    2
988986    2
988987    2
988988    2
988989    2
988990    2
988991    2
988992    2
988993    2
988994    2
988995    2
988996    2
988997    2
988998    2
988999    2
989000    2
989001    2
989002    2
989003    2
989004    2
989005    2
989006    2
989007    2
989008    2
989009    2
989010    2
989011    2
989012    2
989013    2
989014    2
989015    2
989016    2
989017    2
989018    2
989019    2
989020    2
989021    2
989022    2
989023    2
989024    2
989025    2
989026    2
989027    2
Name: gonorrhea, Length: 989028, dtype: int64

In [87]:
nat_2016.gonorrhea.value_counts()

2    984500
3      2827
1      1701
Name: gonorrhea, dtype: int64